<div id="vmaig-links">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                    友情链接 
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#links"></span>
            </h3>
        </div>
        <div id="links" class="padding10 list-group collapse in">
            <a title="Django" target="_blank" href="https://www.djangoproject.com/" class="btn btn-vmaig btn-xs margin2">Django</a>
            <a title="Redis" target="_blank" href="http://redis.io/" class="btn btn-success btn-xs margin2">Redis</a>
            <a title="Stackoverflow" target="_blank" href="http://stackoverflow.com/" class="btn btn-info btn-xs margin2">Stackoverflow</a>
        </div>
    </div>
</div>
